.x1{
	
	text-align:center;
	font-size:50px;
}
h1{
	
	text-align:center;
}
h2{
	
	font-size:35px;
	text-align:center;
}
p{
	
	text-align:center;
}
h3{
	
	text-align:center;
}
body{
	
	background-color:#76d463;
}
div{
	
	display:inline-block;
}
footer{
	
	text-align:center;
}
